@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');


body {
  background: white;
  color: black;

  font-family: "Mozilla Headline", sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(28,27,33);
    color: white;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background: rgb(234,234,237);
    color: black;
  }
}




header{
    display:flex;
    justify-content: center;
}

